@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Inventory List </h1>

    <div class="container">
       <partial name="~/Views/Auth/_registration.cshtml" model="@new Registration()"/>
    </div>
</div>
