@model  FoodInventoryApp.Models.Registration
@{
    ViewData["Title"] = "Registration";
}

<!-- TODO: Complete form to submit correctly to RegistrationController-->
<div>
    <div name="title">
        <h4>Registration</h4>
    </div>
    <div name="registration-body">
        <form asp-controller="Registration" asp-action="Register" method="post">
            <div class="form-control">
                <label for="username">Username:</label>
                <input name="username" id="username" type="text" />
            </div>
            <div class="form-control">
                <label for="password">Password:</label>
                <input name="password" id="password" type="text"/>
            </div>
            <div>
                <button class="btn-primary" type="submit">Register!</button>
            </div>
        </form>
    </div>
</div>




